<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>pos tester</title>
</head>
<body>
    <form method="post">
        Amount:<br>
        <input type="number" name="amount"><br>
        Method:<br>
        <input type="text" name="method">
        <br>
        <button type="submit">post</button>
    </form>
</body>
</html>
